.page-title{
    font-size: 2rem;
    text-align: center;
    display: block !important;
    margin-top: 10px;
}

.form-container{
    width: 400px;
    margin: auto;
}

.border {
    border-radius: 12px;
}